header, footer {
    background-color: var(--bg-color-grey);
}

/* Header */

/* Main */

main > .float-start {
    box-shadow: 0.6rem 0.6rem 0.6rem var(--bg-color-grey);
}

.far-galaxy {
    font-size: 1.8em;
    letter-spacing: 0.1em;
    line-height: 1.5;
    text-align: justify;
}

.rounded-bottom-left {
    border-bottom-left-radius: 1rem;
}

.rounded-bottom-right {
    border-bottom-right-radius: 1rem;
}

/* Footer */

footer {
    height: 5rem;
}

/* Customizing */
.btn-danger {
    background-color: rgba(204, 3, 35, 0.5);
    color: var(--color-main);
}


/* Contact form */
input[type=text], select, textarea {
    width: 40vw;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px;
    margin-bottom: 16px;
    resize: none /* Do not allow the user to resize the textarea */
}


/* Style the submit button with a specific background color etc */
input[type=submit] {
    padding: 12px 20px;
    cursor: pointer;
}

textarea {
    height: 150px;
}

#subjectLabel{
    margin-bottom: 50px;
}

#fname{
    margin-left: 20px;
}

#lname{
    margin-left: 32px;
}

#planet{
    margin-left: 110px;
}

#subject{
    margin-left: 87px;
}

.container-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
}

.subjectContainer {
    display: flex;
    align-items: center;
}